@media screen and (min-width: 1025px) {
    header {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px;
        top: 12px;
    }
    header .logo{
        
        text-align: center;
        width: 220px;
    }
    header .logo_text {
        display: block;
        padding-top: 2%;
        color: #000;
        text-decoration: underline;
    }

body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 24px;
    text-align: center;
}
h2{
    font-family: sans-serif;
}
.promo{
    text-align: center;
}
img {
    max-width: 100%;
    width: 510px;
    margin-bottom: 80px;
    margin: 0 auto 20px;
      
}

main {
    padding: 12px;
}

.main-catalog {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 2%;
        margin-right: 2%;
        place-items: center;
}

.promo-catalog {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
}

.item {
    max-width: 90%;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
}
}
/*
@media screen and (max-width: 320px) {
    header{
        margin: 12px;
        position: sticky;
        top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header .logo {
        height: 100px;
        width: 125px;
    }
   
    header .logo_text{
        height: 110px;
        text-align: center;
        margin: 15px;
        padding: 10px;
    }
    h1, h2{
        font-family: sans-serif;
    }
    .main-catalog {
        text-align: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
        
    }
    .main-catalog .item {
        width: 100%;
        margin-bottom: 20px;
    }
    .promo-catalog {
        align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    columns: 2 auto;
    }
    .promo-catalog .item {
        width: calc(50% - 6px);
        margin-right: 12px;
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: top;
    }
    
    .item{
        margin-bottom: 10px;
        text-align: left;
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    .img{
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
        object-fit: cover;
    }

}*/